@font-face {
  font-family: 'scientifica';
  src: url('/fonts/scientifica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scientificaBold';
  src: url('/fonts/scientificaBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scientificaItalic';
  src: url('/fonts/scientificaItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: 'scientifica', sans-serif;
}