@font-face {
  font-family: 'scientifica';
  src: url('../public/fonts/scientifica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scientificaBold';
  src: url('../public/fonts/scientificaBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'scientificaItalic';
  src: url('../public/fonts/scientificaItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: 'scientifica', sans-serif;
}

.logo {
  display: block;
  margin: 0 auto 20px auto;
  height: 200px;
}
