.retourMenu {
    position: absolute;  
    top: 20px;           
    left: 20px;  
    width: 50px;
    height: 50px;
    background: gray;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
.retourMenu:hover {
background: rgb(184, 131, 131); 
transform: scale(1.1);
}

.config-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  margin: 60px auto;
  padding: 30px;

  border: 2px solid grey;
  border-radius: 12px;
  box-shadow: 0 0 10px black;
}

.config-page h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.config-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.config-line label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}


.config-line input,
.config-line select {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

input[type="range"] {
    width: 100%;
}

.save-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}