.multi-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
}

.tetris-solo {
    flex: 1;
    max-width: 50%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.tetris-previews[players-number="2"] {
    flex: 1;
    max-width: 50%;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.tetris-previews {
    flex: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    gap : 40px;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    overflow-y: auto;
    margin-bottom: 100px;
    transform: scale(clamp(0.2, 1.2 - 0.1 * var(--players-count), 1.2));
}

.winner-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 3rem; 
    font-weight: bold;
    padding: 30px 60px; 
    border-radius: 15px; 
    box-shadow: 0 0 30px rgba(255, 215, 0, 0.8);
    animation: fadeIn 1s ease-in-out, bounce 1s infinite alternate; 
    text-align: center; 
    z-index: 1000;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(-50%, -45%);
    }
  }