.game-wrapper {
  display: flex;
  align-items: flex-start;

}

.left-container {
  display: flex;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.game-preview-wrapper[players-number="2"] {
  display: flex;
  align-items: flex-start;
  transform: scale(1);
}
